pytest
pytest-xdist 	# if you're running tests on GH Codespaces
StackAPI
PyGithub
GitPython
huggingface-hub
transformers
sentence-transformers
python-dotenv
pydantic
pydantic_settings
scikit-learn
numpy 
torch
python-jwt
jwt
python-jose
faiss-cpu
cryptography
fastapi
passlib
